<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /what-to-cook/dist
RewriteRule ^what-to-cook/dist/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /what-to-cook/dist/index.html [L]
</IfModule>